<!-- If you update col-*-*, you also need to update the clearfix section accordingly to handle uneven height. -->
<div ng-controller="orderCardController" ng-click="showOrderDetail()" class="order-card col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <div class="card-border">
        <img ng-src="{{order.dealImageUrl || 'resources/placeholder.png'}}" onerror="this.src = 'resources/placeholder.png'"/>
        <br>
        <div>
            <span style="font-weight: bold">{{order.dealName}}</span>
            <br>
            <span>{{order.quantity}}件 {{order.orderTime | date:'yyyy年MM月dd日'}}</span>
        </div>
    </div>
</div>
<div ng-if="index % 6 === 5" class="clearfix visible-lg-block"></div>
<div ng-if="index % 4 === 3" class="clearfix visible-md-block"></div>
<div ng-if="index % 3 === 2" class="clearfix visible-sm-block "></div>
<div ng-if="index % 2 === 1" class="clearfix visible-xs-block"></div>
