<!-- contact.html -->
<div class="container-fluid" cg-busy="{promise: transparentBusyPromise, backdrop: true, templateUrl:'views/busy.html', backdropClass: 'tgb-busy-backdrop-transparent'}">
    <div class="row">
        <div class="col-md-12 col-xs-12 contact-text">
            微蜂网是针对美国团购买家和卖家打造的商业平台。买家可以低廉的价格购买优质商品，而卖家则可以在本平台发起团购活动，极大方便在线商业行为，为广大北美华人买家服务。微蜂网集成了社交媒体、数据分析、产品信息、线上支付等服务。建设一个开放式的团购业务平台。同时，我们也在积极地与多家美国商业组织展开合作，推出更多更实惠的Deals，打造区域性团购、社区性团购、社交媒体团购的领先品牌！
         </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 contact-ids">
            电子邮件：<a href="mailto:info@shopgenie.com">info@wephoon.com</a>
         </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 contact-ids">
            微 信ID: wephoon
         </div>
    </div>
    <div class="row item-detail-row"> 
        <div class="col-md-12 col-xs-12 contact-form">
            <textarea class="form-control comment-submission-text" rows="5" ng-model="message" maxlength="500">
            </textarea>
            <button class="btn tgb-btn-default btn-comment-submission" ng-click="sendMessage()">发信息给微蜂网</button>
        </div>
    </div>
</div>