<div class="container-fluid">
    <div class="row tgb-input-group">
        <div class="col-md-2 col-xs-3 tgb-input-label">订货人:</div>
        <div class="col-md-10 col-xs-9">
            {{user.nickname}}
        </div>
    </div>

    <div class="row tgb-input-group">
        <div class="col-md-2 col-xs-3 tgb-input-label">电话: </div>
        <div class="col-md-10 col-xs-9 input-box">
        	<input class="input-box-shadow" ng-model="order.phoneNumber" ng-required="true"/>
        </div>
	</div>

    <div class="row tgb-input-group">
        <div class="col-md-2 col-xs-3 tgb-input-label">电子邮件: </div>
        <div class="col-md-10 col-xs-9 input-box">
        	<input class="input-box-shadow" ng-model="order.email" ng-required="true"/>
        </div>
	</div>

    <div class="row tgb-input-group">
        <div class="col-md-2 col-xs-3 tgb-input-label">数量: </div>
        <div class="col-md-10 col-xs-9 input-box">
        	<input class="input-box-shadow" ng-model="order.email" ng-required="true"/>
        </div>
	</div>
</div>

<span>数量: </span>
<input type="number" ng-model="order.quantity" ng-pattern="/^\d*$/"  ng-required="true"/>
<span>件 * {{deal.unitPrice | currency:'$'}}/{{deal.unitName}} * {{deal.unitsPerPackage}}{{deal.unitName}}/件</span>
<br>
<span>共计{{ order.quantity * deal.unitsPerPackage * deal.unitPrice | currency:'$'}}</span>
<br>
<span>发货方式: </span>
<div ng-repeat="pickupOption in deal.pickupOptions">
    <label>
        <input type="radio" ng-model="order.pickupOptionId" ng-value="pickupOption.id"/>
        <span>地址: {{pickupOption.address}}</span>
        <br>
        <span>发货人: {{pickupOption.contactName}}</span>
        <br>
        <span>电话: {{pickupOption.phoneNumber}}</span>
    </label>
</div>
<br>
<button ng-click="createOrder()">立即购买</button>