<span>商品名称</span>
<input ng-model="deal.name" />
<br>
<span>发起日期</span>
<input type="date" ng-model="deal.beginDate" />
<br>
<span>结束日期</span>
<input type="date" ng-model="deal.endDate" />
<br>
<span>发售地区</span>
<select>
    <option ng-repeat="region in regions" value="region.id">{{region.name}}</option>
</select>
<br>
<span>商品描述</span>
<textarea ng-model="deal.description" placeholder="请指明包装规格(例如每磅,每件), 产品特点,注意事项等。"></textarea>
<br>
<div>
    <button
        input-image
        append-data-uri
        resize
        resize-max-height="300"
        resize-max-width="250"
        resize-quality="1.0"
        ng-model="productImageUpload">
        选择图片
    </button>
    <!-- TODO: clicking the clear button will trigger form validation -->
    <button ng-click="clearproductImageUpload()">删除图片</button>
    <br>
    <img ng-show="productImageUpload" ng-src="{{productImageUpload.resized.dataURL}}" />
    <br>
</div>
<span>商品价格</span>
<input type="number" ng-model="deal.unitPrice" />
<span>单位</span>
<input ng-model="deal.unitName">
<br>
<span>包装规格</span>
<input type="number" ng-model="deal.unitsPerPackage" />
<input ng-model="deal.unitName" />
<span> / 件</span>
<br>
<span>卖家信息</span>
<input type="email" ng-model="deal.email" placeholder="Email"/>
<!-- TODO: validate phone number. -->
<input ng-model="deal.phoneNumber" placeholder="电话" />
<br>
<span>方式发货</span>
<div ng-repeat="option in deal.pickupOptions">
    <input ng-model="option.address" placeholder="地址"/>
    <br>
    <input ng-model="option.contactName" placeholder="联系人"/>
    <!-- TODO: validate phone number. -->
    <input ng-model="option.phoneNumber" placeholder="电话"/>
    <br>
    <button ng-click="removePickupOption(option)">删除</button>
</div>
<button ng-click="addPickupOption()">添加</button>
<br>
<button ng-click="saveDeal()">提交</button>