<div class="container-fluid" cg-busy="{promise: transparentBusyPromise, backdrop: true, templateUrl:'views/busy.html', backdropClass: 'tgb-busy-backdrop-transparent'}">
    <div class="row deal-img-row">
        <div class="col-md-12 col-xs-12" style="text-align:center;">
            <img class="deal-image" ng-src="{{deal.dealBannerUrl || 'resources/logo.png'}}" onerror="this.src = 'resources/logo.png'"/>
        </div>
    </div>
    <div class="row item-detail-row item-title-row">
        <div class="col-md-12 col-xs-12" style="text-align:center;">
            <span class="deal-title">{{deal.name}}</span>
        </div>
    </div>

    <div class="row item-detail-row" style="margin-top:1em;">
        <div class="col-md-2 col-xs-3 item-detail-tag">订货人:</div>
        <div class="col-md-10 col-xs-9">
            {{user.nickname}}
        </div>
    </div>
    <div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">电子邮件:</div>
        <input class="col-md-10 col-xs-9 tgb-input" type="email" ng-model="order.email" ng-required="true"/>
    </div>
    <div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">电话:</div>
        <input class="col-md-10 col-xs-9 tgb-input" ng-model="order.phoneNumber" ng-required="true"/>
	</div>

    <div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">数量:</div>
        <input class="col-md-2 col-xs-3 tgb-input" type="number" ng-model="order.quantity" ng-pattern="/^\d*$/" ng-required="true"/>
        <span>(最多{{deal.quantityLimit}}件)</span>
	</div>

	<div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">共计:</div>
        <div class="col-md-10 col-xs-9">
        	{{ order.quantity * deal.unitsPerPackage * deal.unitPrice | currency:'$'}}
        </div>
	</div>

	<div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">发货方式:</div>
        <div class="col-md-10 col-xs-9">自取</div>
	</div>

	<div class="row tgb-input-group" ng-repeat="pickupOption in deal.pickupOptions">
        <div class="col-md-2 col-xs-3 input-label-radio">
        	<input type="radio" ng-model="order.pickupOptionId" ng-value="pickupOption.id"/>
        </div>

        <div class="col-md-10 col-xs-9 order-pickup-right-group-container">
        	<div class="col-md-12 col-xs-12 order-pickup-right-group">
	            <div class="col-md-12 col-xs-12 input-box deal-pickup-options">
	                发货地址: {{pickupOption.address}}
	            </div>
	            <div class="col-md-12 col-xs-12 input-box">
	                发货人员: {{pickupOption.contactName}}
	            </div>
	            <div class="col-md-12 col-xs-12 input-box-no-padding">
	                联系电话: {{pickupOption.phoneNumber}}
	            </div>
            </div>
        </div>
    </div>

    <div class="row deal-submit-button-container">
    	<button ng-click="createOrder()">立即购买</button>
	</div>
</div>