<form editable-form name="editableForm" onaftersave="saveDeal()" editModeOnNewDeal>
    <div>
        <span editable-text="deal.name" e-name="name" e-required>{{deal.name}}</span>
        <span ng-show="editableForm.$visible">* name of the deal</span>
    </div>
    <div>
        <span editable-textarea="deal.detailedDescription" e-rows="7" e-cols="40" class="editableTextArea">{{deal.detailedDescription}}</span>
        <span ng-show="editableForm.$visible" class="editablePropertyDescription">* description of the deal</span>
    </div>
    <div class="buttons">
        <!-- button to show form -->
        <span ng-show="!editableForm.$visible">
            <button type="button" class="btn btn-default" ng-click="editableForm.$show()">Edit</button>
            <button ng-click="deleteDeal()">Delete</button>
        </span>
        <!-- buttons to submit / cancel form -->
        <span ng-show="editableForm.$visible">
            <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">Save</button>
            <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">Cancel</button>
        </span>
    </div>
</form>
