<deal-card deal="deal"></deal-card>
<br>
<button ng-click="modifyDeal()">修改团购</button>
<button ng-show="deal.status === 'active'" ng-click="closeDeal()">终止团购</button>
<span ng-show="deal.status === 'closed'">已结束</span>
<br>
<textarea ng-model="message" placeholder="写给买家的信息"></textarea>
<br>
<button ng-click="sendMessage()">发送</button>
<br>
<span>共{{deal.summary.buyerCount}}人购买{{deal.summary.quantity}}件</span>
<button ng-click="sendSpreadsheet()">生成表格</button>
<br>
<div ng-repeat="option in deal.pickupOptions">
    <span>{{option.contactName}}发货 - {{option.summary.buyerCount}}人{{option.summary.quantity}}件</span>
    <br>
    <ul>
        <li ng-repeat="order in option.orders">{{order.creatorName}}</li>
    </ul>
</div>