<div class="container deal-detail-box-shadow">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <img ng-src="{{deal.dealImageUrl || 'resources/placeholder.png'}}" onerror="this.src = 'resources/placeholder.png'"/>
        </div>
    </div>
    
    <div class="row deal-detail-row">
        <div class="col-md-12 col-xs-12">
            <span style="font-weight: bold">{{deal.name}}</span>
        </div>
    </div>

    <div class="row deal-detail-row">
        <div class="col-md-12 col-xs-12">
            购买 {{deal.numberBought || 0}} 关注 {{deal.numberFollowed || 0}}
        </div>
    </div>

    <div class="row deal-detail-row">
        <div class="col-md-4 col-xs-5">
            地区: {{deal.region}}
        </div>
        <div class="col-md-8 col-xs-7">
            价格: {{deal.unitPrice | currency:'$'}}/{{deal.unitName}} (每件{{deal.unitsPerPackage}}{{deal.unitName}})
        </div>
    </div>

    <div class="row deal-detail-row">
        <div class="col-md-6 col-xs-6">
            开始: {{deal.beginDate | date:'yyyy年MM月dd日'}}
        </div>
        <div class="col-md-6 col-xs-6">
            截止: {{deal.endDate | date:'yyyy年MM月dd日'}}
        </div>
    </div>

    <div class="row deal-detail-row">
        <div class="col-md-12 col-xs-12">
            团购进度: {{deal.endDate | daysRemainingFilter}}
        </div>
    </div>

    <div class="row deal-detail-row">
        <div class="col-md-12 col-xs-12">
            发起人: {{deal.creatorName}}
        </div>
    </div>

    <div class="row deal-detail-row">
        <div class="col-md-12 col-xs-12">
            发货方式: 自取
        </div>
    </div>

    <div class="row" ng-repeat="option in deal.pickupOptions">
       <div class="col-md-4 col-xs-4 deal-pickup-options">
            取货地址: {{option.address}}
        </div>
        <div class="col-md-4 col-xs-4">
            联系人: {{option.contactName}}
        </div>
        <div class="col-md-4 col-xs-4">
            电话: {{option.phoneNumber}}
        </div>
    </div>

    <div class="row deal-detail-row">
        <div class="col-md-12 col-xs-12">
            货品描述: {{deal.description}}
        </div>
    </div>

    <span>
        <button ng-click="wechatShare()">微信分享</button>
        <button>脸书分享</button>
        <button ng-show="!deal.owned" ng-click="toggleFollowedStatus()">{{deal.followed ? '取消关注' : '关注'}}</button>
        <button ng-show="!deal.owned && deal.status === 'active'" ng-click="purchaseDeal()">购买</button>
        <button ng-show="deal.owned" ng-click="manageDeal()">订单状况</button>
        <span ng-show="deal.status === 'closed'">已结束</span>
    </span>
    
    <div>
        <span>您的评论: </span>
        <rating ng-model="rating" max="5" readonly="false" on-hover="hoveringOver(value)" on-leave="overStar=null" rating-states="ratingStates"></rating>
        <br></br>
        <textarea ng-model="comment"></textarea>
    </div>
    
    <div ng-repeat="comment in deal.comments">
        <span>{{comment.creatorName}}</span>
        <rating ng-model="comment.rating" max="5" readonly="true"></rating>
        <br>
        <span>{{comment.content}}</span>
    </div>
</div>