<form editable-form name="editableForm" onaftersave="saveDeal()" editModeOnNewDeal>
    <div>
        <span editable-text="deal.name" e-name="name" e-required>{{deal.name}}</span>
        <span ng-show="editableForm.$visible">* name of the deal</span>
    </div>
    <div>
        <span editable-textarea="deal.detailedDescription" e-rows="7" e-cols="40" class="editableTextArea">{{deal.detailedDescription}}</span>
        <span ng-show="editableForm.$visible" class="editablePropertyDescription">* description of the deal</span>
    </div>
    <div>
        <span>Begin Date: </span>
        <!-- TODO: when enter edit mode the first time, datetime is not properly formatted. -->
        <span editable-bsdate="deal.beginDate" e-datepicker-popup="MM-dd-yyyy">{{(deal.beginDate | date:"MM/dd/yyyy") || 'empty'}}</span>
        <br>
        <span>End Date:</span>
        <span editable-bsdate="deal.endDate" e-datepicker-popup="MM-dd-yyyy">{{(deal.endDate | date:"MM/dd/yyyy") || 'empty'}}</span>        
    </div>
    <div>
        <span
            class="clickableText"
            ng-show="editableForm.$visible"
            input-image
            append-data-uri
            resize
            resize-max-height="300"
            resize-max-width="250"
            resize-quality="1.0"
            ng-model="productImageUpload">
            Upload product image
        </span>
        <!-- TODO: clicking the clear button will trigger form validation -->
        <span class="clickableText" ng-show="editableForm.$visible" ng-click="clearproductImageUpload()">Clear image</span>
        <br>
        <img ng-show="editableForm.$visible && productImageUpload" src="{{productImageUpload.resized.dataURL}}"/>
        <!-- Because we cannot pre-populate the input file, we still show the image in the model if nothing is uploaded. -->
        <img ng-show="(!editableForm.$visible || !productImageUpload) && deal.imageBase64" src="{{deal.imageBase64 ? 'data:' + deal.imageType + ';base64,' + deal.imageBase64 : ''}}">
        <br>
        <pre>{{image | json}}</pre>
    </div>
    <div class="buttons">
        <!-- button to show form -->
        <span ng-show="!editableForm.$visible">
            <button type="button" class="btn btn-default" ng-click="editableForm.$show()">Edit</button>
            <button ng-click="deleteDeal()">Delete</button>
        </span>
        <!-- buttons to submit / cancel form -->
        <span ng-show="editableForm.$visible">
            <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">Save</button>
            <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">Cancel</button>
        </span>
    </div>
</form>
