<!--TODO: angular-busy should really support multiple templates-->
<div class="container deal-detail deal-detail-box-shadow" cg-busy="{promise: transparentBusyPromise, message: 'Loading', backdrop: true, templateUrl:'views/busy.html', delay: 0, minDuration: 0, backdropClass: 'tgb-busy-backdrop-transparent'}">
    <div class="row deal-img-row">
        <div class="col-md-12 col-xs-12">
            <img class="deal-image" ng-src="{{deal.dealImageUrl || 'resources/logo.png'}}" onerror="this.src = 'resources/logo.png'"/>
        </div>
    </div>
    
    <div class="row item-detail-row item-title-row">
        <div class="col-md-6 col-xs-7">
            <span class="deal-title">{{deal.name}}</span>
        </div>
        <div class="col-md-6 col-xs-5">
            <span>{{deal.orderCount || 0}}人购买 {{deal.followCount || 0}}人关注</span>
        </div>
    </div>

    <div class="row" style="margin-top: 1em; margin-bottom: 1em;">
        <div class="pull-left">
            <a ng-show="weixinShareVisible" ng-click="weixinShare()">
                <img src="resources/wechat.png" class="tgb-share-icon"/>
            </a>
        </div>
        <button class="btn tgb-btn-default pull-right" ng-show="deal.owned" ng-click="manageDeal()">订单状况</button>
        <button class="btn tgb-btn-default pull-right" ng-show="!deal.owned && deal.status === 'active'" ng-click="purchaseDeal()">购买</button>
        <button class="btn tgb-btn-default pull-right" ng-show="!deal.owned" ng-click="toggleFollowedStatus()">{{deal.followed ? '取消关注' : '关注'}}</button>
        <button class="btn tgb-btn-info pull-right" ng-disabled="true" ng-show="deal.status === 'closed'">已结束</button>
    </div>

    <div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">
            地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 区: 
        </div>
        <div class="col-md-10 col-xs-9">
            {{deal.region}}
        </div>
    </div>

    <div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">
            价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 格: 
        </div>
        <div class="col-md-10 col-xs-9">
            <span style="font-weight: bold;">{{deal.unitPrice | currency:'$'}}/{{deal.unitName}} </span>
            (每件{{deal.unitsPerPackage}}{{deal.unitName}})
        </div>
    </div>

    <div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">
            开始日期:
        </div>
        <div class="col-md-10 col-xs-9">
            {{deal.beginDate | date:'yyyy年MM月dd日'}}
        </div>
    </div>

    <div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">
            截止日期: 
        </div>
        <div class="col-md-10 col-xs-9">
            {{deal.endDate | date:'yyyy年MM月dd日'}}
        </div>
    </div>

    <div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">
            团购进度: 
        </div>
        <div class="col-md-10 col-xs-9">
            {{deal.endDate | daysRemainingFilter}}
        </div>
    </div>

    <div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">
            发&nbsp;&nbsp;起&nbsp;&nbsp;人: 
        </div>
        <div class="col-md-10 col-xs-9">
            {{deal.creatorName}}
        </div>
    </div>

    <div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">
            发货方式: 
        </div>
        <div class="col-md-10 col-xs-9">
            自取
        </div>
    </div>

    <div class="row item-detail-row" ng-repeat="option in deal.pickupOptions">
        <div class="col-md-2 col-xs-3 item-detail-tag">
            <span class="item-detail-tag">取货地址{{deal.pickupOptions.length > 1 ? $index+1 : ''}}:</span>
        </div>
        <div class="col-md-10 col-xs-9">
            {{option.address}}
        </div>
    </div>

    <div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">
            货品描述: 
        </div>
        <div class="col-md-10 col-xs-9">
            {{deal.description}}
        </div>
    </div>

    <div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">
            评&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 论: 
        </div>
        <div class="col-md-10 col-xs-9">
        </div>
    </div>
    
    <div class="comment-area row" ng-repeat="comment in comments">
        <span class="deal-comment-nickname">{{comment.nickname}}</span>
        <rating ng-model="comment.rating" max="5" readonly="true" rating-states="ratingStates"></rating>
        <span>{{comment.createdAt | date:'yyyy年MM月dd日'}}</span>
        <br>
        <span>{{comment.commentText}}</span>
    </div>

    <div class="comment-submission">
        <div class="row item-detail-row comment-submission-first-row">
            <div class="col-md-2 col-xs-3 item-detail-tag">
                您的评论: 
            </div>
            <div class="col-md-10 col-xs-9">
                <rating class="comment-rating-submission" ng-model="rating" max="5" readonly="false" on-hover="ratingHoveringOver(value)" on-leave="overStar=null" rating-states="ratingStates"></rating>
            </div>
        </div>
        <div class="row item-detail-row"> 
            <div class="col-md-10 col-xs-9 col-md-offset-2 col-xs-offset-3">
                <textarea class="form-control comment-submission-text" rows="5" ng-model="comment" maxlength="500" placeholder="请填入您的评论，限500字">
                </textarea>
            </div>
        </div>
        <div class="row item-detail-row"> 
            <div class="col-md-4 col-xs-2x col-md-offset-8 col-xs-offset-10">
                <button class="btn tgb-btn-default btn-comment-submission" ng-click="addComment()" ng-disabled="!rating && !comment">提交</button>
            </div>
        </div>
    </div>
    
</div>