<!-- home.html -->
<div class="leftNav">
    <ul class="dealList">
        <li><a ui-sref=".dealDetail({id: -1})" >Create deal</a></li>
        <li ng-repeat="(dealType, dealGroup) in dealGroups">
            <a ng-click="dealGroup.active = !dealGroup.active">{{dealType}}</a>
            <ul class="dealList" ng-show="dealGroup.active">
                <li ng-repeat="dealEndDate in getSortedDealEndDates(dealGroup.dealByYearMonth)">
                    <a ng-click="dealGroup.dealByYearMonth[dealEndDate].active = !dealGroup.dealByYearMonth[dealEndDate].active">{{dealEndDate}}</a>
                    <ul class="dealList" ng-show="dealGroup.dealByYearMonth[dealEndDate].active">
                        <li ng-repeat="deal in getSortedDeals(dealGroup.dealByYearMonth[dealEndDate].deals)">
                            <a ui-sref=".dealDetail({id: deal.id})" >{{deal.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="dataViewArea" ui-view="dealDetail"></div>