<div ng-hide="currentUser">
    <form ng-show="scenario == 'Sign up'">
        <div class="row"> 
          <div class="col-sm-12 welcome-msg">
              <div class="user-signin-card" background-image="{{user.headimgurl}}">
                {{user.nickname}}
              </div>
          </div>
        </div>
        <div class="sign-area">
            <div class="row sign-input">Email: <input type="email" ng-model="user.email" ng-required="true"/></div>
            <div class="row sign-input">Username: <input type="text" ng-model="user.username" ng-required="true"/></div>
            <div class="row sign-input">Password: <input type="password" ng-model="user.password" ng-required="true"/></div>
            <div class="row sign-input">
              <button ng-click="signUp(user)">Sign up</button>
              or <a ng-click='scenario="Log in"'>Log in</a>
            </div>
        </div>
    </form>
    <form ng-show="scenario == 'Log in'">
      <div class="row"> 
        <div class="col-sm-12 welcome-msg">
          <h2>
            Welcome {{user.nickname}}!
            <div class="head-img"><img class="img-responsive" src="{{user.headimgurl}}" alt=""></img></div>
          </h2>
        </div>
      </div>
      <div class="sign-area">
        <div class="row">
          <h3>Log in</h3>      
        </div>
        <div class="row sign-input">Username: <input type="text" ng-model="user.username" ng-required="true"/></div>
        <div class="row sign-input">Password: <input type="password" ng-model="user.password" ng-required="true"/></div>
        <div class="row sign-input">
          <button ng-click="logIn(user)">Log in</button>
          or <a ng-click='scenario="Sign up"'>Sign up</a>
        </div>
      </div>
    </form>
</div>
<div ng-show="currentUser">
    <h1>Welcome {{currentUser.get('username')}}</h1>
    <p> You have been successfully logged in</p>
    <button ng-click="logOut()">Log out</button>
</div>
<div>{{statusMessage}}</div>
