<div ng-hide="currentUser">
    <form ng-show="scenario == 'Sign up'">
        <div class="row"> 
          <div class="col-sm-12 signup-welcome-msg">
              <div class="wechat-welcome-message" ng-show="{{wechatWelcomeVisible}} == true">
                您刚刚通过微信关联了北美团购宝。请您完成以下注册信息，即可参与团购或发起团购。
              </div>
          </div>
        </div>
        <div class="row"> 
          <div class="col-sm-12 welcome-msg">
              <div class="user-signin-card" background-image="{{user.headimgurl}}">
                {{user.nickname}}
              </div>
          </div>
        </div>
        <div class="sign-area">
            <div class="row signup-input">
              <div class="signup-input-row">
                邮箱: <input type="email" ng-model="user.email" ng-required="true"/>
              </div>
            </div>
            <div class="row signup-input">
              <div class="signup-input-row">
                昵称: <input type="text" ng-model="user.username" ng-required="true"/>
              </div>
            </div>
            <div class="row signup-input">
              <div class="signup-input-row">
                密码: <input type="password" ng-model="user.password" ng-required="true"/>
              </div>
            </div>
            <div class="row signup-button-container">
              <span><a href="/terms.html">Terms</a></span>
              <button class="signup-button" ng-click="signUp(user)">注册</button>
            </div>
            <div class="login-reference">
              Already got an account? Log in <a ng-click='scenario="Log in"'>&nbsp;here&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
        </div>
    </form>
    <form ng-show="scenario == 'Log in'">
      <div class="row"> 
        <div class="col-sm-12 signin-welcome-msg">
          <h1>
            GSG 北美团购宝
          </h1>
        </div>
      </div>
      <div class="sign-area">
        <div class="signin-inputs">
          <div class="row signin-input-row">
            <input type="text" ng-model="user.username" ng-required="true" placeholder="用户名"/>
          </div>
          <div class="row signin-input-row">
            <input type="password" ng-model="user.password" ng-required="true" placeholder="密码"/>
          </div>
        </div>
        <div class="row signin-button-container">
          <button class="signin-button" ng-click="logIn(user)">登录</button>
        </div>
        <div class="signup-reference">
          New to TuanGouBao? Sign up <a ng-click='scenario="Sign up"'>&nbsp;here&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </div>
      </div>
    </form>
</div>
<div ng-show="currentUser">
    <h1>Welcome {{currentUser.get('username')}}</h1>
    <p> You have been successfully logged in</p>
    <button ng-click="logOut()">Log out</button>
</div>

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="email-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="email-confirm-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        感谢您注册北美团购宝会员，我们已经向您注册的电子邮件地址发送了邮件，请点击邮件内的链接确认邮箱地址，谢谢合作。
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
      </div>
    </div>
  </div>
</div>
<div>{{statusMessage}}</div>
