<div cg-busy="{promise: transparentBusyPromise, backdrop: true, templateUrl:'views/busy.html', backdropClass: 'tgb-busy-backdrop-transparent'}">
    <div class="row tgb-primary-color">
        <div class="col-md-12 col-xs-12 message-center-title">我的团购宝信息</div>
    </div>
    <div class="row item-detail-row item-title-row" ng-repeat="message in messages"  ng-click="showContent = !showContent; markRead(message)">
        <div class="col-md-6 col-xs-9">
            <span ng-class="'glyphicon glyphicon-envelope ' + (message.isRead ? 'tgb-message-read-color' : 'tgb-primary-color')"></span>
            <span class="message-header">来自<span class="tgb-primary-color">{{message.creatorName}}</span>的消息</span>
        </div>
        <div class="col-md-6 col-xs-3">
            <span>{{message.createdAt | date:'M-d-yy'}}</span>
            <span ng-class="showContent ? 'glyphicon glyphicon-triangle-bottom' : 'glyphicon glyphicon-triangle-right'"></span>
        </div>
        <div class="col-md-12 col-xs-12">
            <span class="message-title">{{message.messageTitle}}</span>
        </div>
        <div class="col-md-12 col-xs-10 col-xs-offset-1" ng-show="showContent">
            <span class="message-body" ng-switch="message.messageType">
                <span ng-switch-when="sendEmailVerification">
                    欢迎使用团购宝, 请点击<a href ng-click="sendEmailVerification(); $event.stopPropagation();" style="font-weight: bold;">这里</a>发送确认邮件到您的电子邮件信箱. 确认后您可以选择通过Email接收信息. 如果您的密码丢失的话, 也可以通过Email重置哦!
                </span>
                <span ng-switch-default>
                    {{message.messageBody}}
                </span>
            </span>
        </div>
    </div>
</div>