<div ng-repeat="message in messages"  ng-click="showContent = !showContent; markRead(message)" ng-controller="htmlController">
    <span ng-class="'glyphicon glyphicon-envelope ' + (message.isRead ? 'tgb-message-read-color' : 'tgb-primary-color')"></span>
    <span>来自<span class="tgb-primary-color">{{message.creatorName}}</span>的消息</span>
    <span>{{message.createdAt | date:'yyyy年MM月dd日'}}</span>
    <br>
    <span>{{message.messageTitle}}</span>
    <br>
    <span ng-show="showContent" ng-bind-html="trustedHtml"></span>
</div>