<div class="container">
    <div class="row deal-img-row">
        <div class="col-md-12 col-xs-12">
            <img class="deal-image" ng-src="{{order.deal.dealBannerUrl || 'resources/logo.png'}}" onerror="this.src = 'resources/logo.png'"/>
        </div>
    </div>

    <div class="row item-detail-row">
        <div class="col-md-12 col-xs-12 order-detail-deal-name">
            <div class="deal-title">{{order.deal.name}}</div>
        </div>
    </div>

    <div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">
            订&nbsp;&nbsp;单&nbsp;&nbsp;号: 
        </div>
        <div class="col-md-10 col-xs-9">
            {{order.id}}
        </div>
    </div>

    <div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">
            姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名: 
        </div>
        <div class="col-md-10 col-xs-9">
            {{currentUser.nickname}}
        </div>
    </div>

    <div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">
            电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话: 
        </div>
        <div class="col-md-10 col-xs-9">
            {{currentUser.phoneNumber}}
        </div>
    </div>

    <div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">
            电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮: 
        </div>
        <div class="col-md-10 col-xs-9">
            {{currentUser.email}}
        </div>
    </div>

    <div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">
            购买数量: 
        </div>
        <div class="col-md-10 col-xs-9">
            {{order.quantity}}件 ({{order.deal.unitsPerPackage}}{{order.deal.unitName}}/件)
        </div>
    </div>

    <div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">
            总&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价: 
        </div>
        <div class="col-md-10 col-xs-9">
            <span style="font-weight: bold;">{{order.quantity * order.deal.unitsPerPackage * order.deal.unitPrice | currency:'$'}}</span>
        </div>
    </div>

    <div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">
            取货地址: 
        </div>
        <div class="col-md-10 col-xs-9">
            {{pickupOption.address}}
        </div>
    </div>

    <div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">
            联&nbsp;&nbsp;系&nbsp;&nbsp;人: 
        </div>
        <div class="col-md-10 col-xs-9">
            {{pickupOption.contactName}}
        </div>
    </div>

    <div class="row item-detail-row">
        <div class="col-md-2 col-xs-3 item-detail-tag">
            付款方式: 
        </div>
        <div class="col-md-10 col-xs-9">
            取货付款 (取货时, 请以此页面作为凭证)
        </div>
    </div>

    <div class="row item-detail-row">
        <div class="col-md-offset-2 col-xs-offset-2 col-md-8 col-xs-8 item-detail-tag">
            <img ng-src="{{order.qrCloseOrderUrl}}"/> 
        </div>
    </div>

    <div class="row item-detail-row order-button-row">
        <button class="btn tgb-btn-default pull-right" ng-show="modifiable" ng-click="cancelOrder()">取消订单</button>
        <button class="btn tgb-btn-default pull-right" ng-show="modifiable" ng-click="modifyOrder()">修改订单</button>
        <button class="btn tgb-btn-info pull-right" ng-disabled="true" ng-show="!modifiable">已结束</button>
        <button class="btn tgb-btn-info pull-right" ng-disabled="true">团购成功</button>
    </div>
</div>