<!--
<carousel interval="5000" no-wrap="false" style="">
    <slide ng-repeat="deal in featuredDeals" active="deal.active">
        <img ng-src="{{deal.dealImageUrl || 'resources/placeholder.png'}}">
        <div class="carousel-caption">
            <span>{{deal.name}}</span>
            <span>{{deal.unitPrice | currency:'$'}}/{{deal.unitName}}</span>
            <br>
            <span>已有{{deal.orderCount || 0}}人参与团购, {{deal.endDate | daysRemainingFilter}}</span>
        </div>
    </slide>
</carousel>
-->
<slick dots="false" autoplay="true" autoplaySpeed="5000" infinite="true" speed="300" touch-move="false" slides-to-scroll="1" center-mode="true" center-padding="10%" focus-on-select="true" class="slider one-time" init-onload="true" data="featuredDeals" responsive="responsive">
    <div ng-repeat="deal in featuredDeals" ng-click="showDealDetail(deal)" class="tgb-carousel-slide" style="position: relative; margin-left: 2px;">
        <img ng-src="{{deal.dealImageUrl || 'resources/placeholder.png'}}" style="margin-left: auto; margin-right: auto;">
        <div class="tgb-carousel-caption">
            <span>{{deal.name}}</span>
            <span>{{deal.unitPrice | currency:'$'}}/{{deal.unitName}}</span>
            <br>
            <span>已有{{deal.orderCount || 0}}人参与团购, {{deal.endDate | daysRemainingFilter}}</span>
        </div>
    </div>
</slick>
</div>
<deal-card-list deals-promise-wrapper="dealsPromiseWrapper"/>