<div class="container-fluid">
    <div class=row start-participate-tgb>
        <div class="tgb-welcome-deal-div tgb-participate">
        	<a href="/#/publicDeals">
            	<img class="tgb-welcome-deal-icon" src="resources/tgb_participate.png">
            </a>
        </div>
        <div class="tgb-welcome-deal-div tgb-createdeal">
        	<a href="/#/createDeal">
            	<img class="tgb-welcome-deal-icon" src="resources/tgb_startdeal.png">
            </a>
        </div>
    </div>
    <div class="row start-participate-tgb">
    	<div class="tgb-site-title">
        	<h2>
        		GSG 北美团购宝
        	</h2>
        </div>
    </div>

    <div class="row welcome-intro-texts">
    	北美团购宝是针对北美团购买家和卖家打造的商业平台。买家可以以低廉的价格购买优质商品，而卖家则可以在平台发起团购活动，极大方便在线商业行为。北美团购宝集成了社交媒体、数据分析、产品信息、线上支付等服务。打造一个开放而便捷的团购业务平台。
    </div>

    <div class="welcome-contactinfo">
    	<div class="row welcome-contact-email">
    		<span class="col-xs-3">联系我们：</span>
    		<span><a href="mailto:info@shopgenie.com">info@shopgenie.com</a></span>
    	</div>
    	<div class="row welcome-contact-wechat">
    		<span class="col-xs-3">微信ID：</span>
    		<span>tuangougenie</span>
    	</div>
    </div>
</div>