
.deal-card,
.order-card {
<<<<<<< HEAD
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1px;
  background:white;
  border-style: solid;
  border-radius:3px;
  margin-bottom: 5px;
  cursor: pointer;
  overflow: hidden;
  white-space:nowrap;
  // ellipsis doesn't work for some reason ...
  text-overflow: ellipsis;
=======
    background:white;
    cursor: pointer;
}

.card-border {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1px;
    border-radius: 3px;
    border-style: solid;
    border-color: #C0C0C0;
    border-width: 1px;    
    overflow: hidden;
    white-space:nowrap;
    // ellipsis doesn't work for some reason ...
    text-overflow: ellipsis;
>>>>>>> f84cd67bcaf7a7cbc6aaa8bef58b38f452cbfd19
}

.deal-detail-box-shadow {
    margin: 0 1em;
    box-shadow: -1px -3px 3px #888888;
    background:white;
    border-radius:1px;
}