
// Image row
.deal-img-row {
	img {
		width: 100%;
	}
}

.item-title-row {
	margin-bottom: 0.2em;
}

.item-detail-row {
	margin-left: 2%;
}

// Title row
.deal-title {
	font-weight: bold;
	font-size: @deal-title-font-size;
}

// Tags
.item-detail-tag {
	color: @highlight-color;
}

.comment-submission-text {
	width: 75%;
	display: inline-block;
}

.comment-submission-button {
	position: absolute;
	right: 0%;
	bottom: 0.5%;
}

.comment-submission {
	.comment-submission-first-row {
		margin-bottom: 1em;
	}

	.comment-rating-submission {
		// To make it easier to tap on phones.
		letter-spacing: 0.5em;
	}

	.btn-comment-submission {
		margin-bottom: 2em;
	}
}

.order-detail-deal-name {
	font-weight: bold;
	font-size: @deal-title-font-size;
}

.order-button-row {
	margin-top: 2em;
}

.order-buyer-firstrow {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

img.buyer-icons {
	height: 35px;
	margin-right: 1em;
}

img.edit-icon {
	margin-left: 2em;
	height: 2em;
}

.order-buyer-detail {
	font-size: 1.1em;
}

.order-buyer-row {
	margin-bottom: 0.5em;
}

.comment-head-icon {
	max-width: 30px;
	text-align: center;
	margin-left: 2em;
	margin-right: 1em;
}

.comment-area {
    margin-top: 5px;
}