.deal-detail {

	// Image row
	.deal-img-row {
		img {
			width: 100%;
		}
	}

	.item-title-row {
		margin-bottom: 0.2em;
	}

	.item-detail-row {
		margin-left: 2%;
	}

	// Title row
	.deal-title {
		font-weight: bold;
		font-size: @deal-title-font-size;
	}

	// Tags
	.item-detail-tag {
		color: @highlight-color;
	}

	.order-sns-row {
		margin-top: 1em;
		margin-bottom: 1em;
		text-align: right;
	}
}

.order-detail-deal-name {
	font-weight: bold;
	font-size: @deal-title-font-size;
}