html, body {
    margin:0;
    padding:0;
    height:100%;
}

img {
    max-width: 100%;
}

.topNav {
    font-size: 24;
    font-style: normal;
    font-weight: bold;
    height: 100px;
    text-align: center;
    background-color: deepskyblue;
}

.navbar .navbar-toggle {
    float: left;
}

.site-brand {
    position: absolute;
    right: 30%;
    top: 2%;
    font-size: 1.5em;
}

.user-img {
    width: 10%;
    height: 10%;
    float: right;
    position: absolute;
    right: 12%;
    top: 2%;
}

.mainViewArea {
    width: 100%;
    position: relative;
}

.user-icon {
    height: 100%;
}

.leftNav {
    width: 150px;
    height: 100%;
    float: left;
    background-color: bisque;
}

.dataViewArea {
    margin-left: 150px;
    height: 100%;
}

.editablePropertyDescription {
    vertical-align: top;
}

/*
.editableTextArea {
    resize: none;
}*/

.clickableText {
    text-decoration: none;
    background-color:bisque;
    color: gray;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}

.clickableText:hover {
    background-color: deepskyblue;
    color:beige;
}

.dealList {
    list-style: none;
    padding-left: 15px;
    cursor: pointer;
}

.icon-star-selected {
    color: #E6E600;
}

.tgb-navbar-icon {
    color: #AAAAAA;
    font-size: 1.5em;
    margin-left: 4px;
    margin-right: 4px;
}

.tgb-new-message-count-badge {
    background-color: #FF8000;
    position:absolute;
    bottom: -6px;
    right: -10px;
    font-weight: normal;
}

.tgb-primary-color {
    color: #FF8000;   
}

.tgb-message-read-color {
    color: #C0C0C0;
}

.tgb-share-icon {
    height: 30px;
}

.glyphicon-spin {
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.center-horizontal-and-vertical {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tgb-busy-backdrop-opaque {
	background-color: #FFFFFF;
	opacity: 1.0;
}

.tgb-busy-backdrop-transparent {
	background-color: #FFFFFF;
	opacity: 0.8;
}

//.carousel-indicators {
//    visibility: hidden;
//}

.tgb-carousel-caption {
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.50);
    text-align: left;
}

@grid-gutter-width: 0;