.user-signin-card {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	line-height: 200px;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	color: white;
	font-size: 22px;
	text-shadow: 2px 1px #050505;
}

.sign-area {
  text-align: center;
  max-width: 500px;
  margin: 0 auto 20px auto;
  padding: 0 0 20px 0;
}

.head-img {
    max-width: 50px;
    display: inline-block;
}

.welcome-msg {
    text-align: center;
}

.sign-input {
    margin: 10px auto;
}
